.login {
  color: black;
  background-image: url("https://cdn.pixabay.com/photo/2016/03/26/13/12/pencils-1280558_960_720.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

}

.recordarContraseña {
  width: 48%;
  text-align: left;
  display: inline-block;
}

.recordarContraseña:hover {
  width: 48%;
  text-align: left;
  display: inline-block;
  color: #ffff;
}

.botonEntrar {
  width: 50%;
  text-align: right;
  display: inline-block;
}




/* ---------- GENERAL ---------- */



a {
  color: #eee;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}



.container {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ---------- LOGIN ---------- */

#login form {
  width: 250px;
}

#login,
.logo {
  display: inline-block;
  width: 40%;
}

#login {
  border-right: 1px solid #fff;
  padding: 0px 22px;
  width: 59%;
}

.logo {
  color: #fff;
  font-size: 50px;
  line-height: 125px;
}

#login form span.fa {
  background-color: #fff;
  border-radius: 3px 0px 0px 3px;
  color: #000;
  display: block;
  float: left;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}

#login form input {
  height: 50px;
}

fieldset {
  padding: 0;
  border: 0;
  margin: 0;

}

#login form input[type="text"],
input[type="password"] {
  background-color: #fff;
  border-radius: 0px 3px 3px 0px;
  color: #000;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 200px;
}

#login form input[type="submit"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #000000;
  color: #eee;
  margin-bottom: 5px;
  text-transform: uppercase;
  padding: 5px 10px;
  height: 30px;
  cursor: pointer;
}

#login form input[type="button"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #000000;
  color: #eee;
  margin-bottom: 5px;
  text-transform: uppercase;
  padding: 5px 10px;
  height: 30px;
  outline: none;
  cursor: pointer;
}

#login form input[type="button"]:hover {
  background-color: #03949e;
}

#login form input[type="submit"]:hover {
  background-color: #03949e;
}

#login>p {
  text-align: center;
}

#login>p span {
  padding-left: 5px;
}

.middle {
  display: flex;
  width: 600px;
}

/* Formulario de registro */

.form-main {
  height: 370px;
  width: 700px;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
  margin: 5px;
  -webkit-box-shadow: 9px 6px 244px 84px rgba(0, 0, 0, 1);
  -moz-box-shadow: 9px 6px 244px 84px rgba(0, 0, 0, 1);
  box-shadow: 9px 6px 244px 84px rgba(0, 0, 0, 1);
}

.form-main .header {
  text-align: center;
  font-size: 16;
  font-weight: 900;
}

.form-main .form {
  font-size: 16;
  font-weight: 500;
  margin-left: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}
.form-main .form .dos{
  grid-column-start: 2;
}
.form-main .form .uno{
  grid-column-start: 1;
}
.form-main .form input {
  border: solid black 1px;
  border-radius: 5px;
  margin: 5px;
  padding: 0px 5px;
  outline: none;
}

.form-main .form select {
  width: 200px;
  border: solid black 1px;
  border-radius: 5px;
  margin: 5px;
  padding: 0px 5px;
  outline: none;
}

.form-main .form #cargo {
  width: 150px;
  border: solid black 1px;
  border-radius: 5px;
  margin: 5px;
  padding: 0px 5px;
  outline: none;
}

.form-main .form #curso {
  width: 100px;
  border: solid black 1px;
  border-radius: 5px;
  margin: 5px;
  padding: 0px 5px;
  outline: none;
}

.form-main .form #idSalon {
  width: 50px;
  border: solid black 1px;
  border-radius: 5px;
  margin: 5px;
  padding: 0px 5px;
  outline: none;
}
.form-main .form #number {
  width: 50px;
  border: solid black 1px;
  border-radius: 5px;
  margin: 5px;
  padding: 0px 5px;
  outline: none;
}

.form-main .footer{
  text-align: center;
  margin-left: 0;
}

.form-main .footer .button{
  letter-spacing: none;
  height: 25px;
  color: #eee;
  background-color: #000;
  outline: none;
  padding: 0px 5px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 700;
  border: none;
}

.form-main .footer .button:hover{
  background-color: #03949e;
}

.form-main .close{
  outline: none;
}

